body,
html {
  width: 100%;
  height: 100%;
}
.navbar-collapse {
  flex-grow: 0;
}
.navbar {
  background-color: #c91717 !important;
}

.carousel-caption {
  position: absolute;
  top: 40%;
}

h1 {
  text-shadow: 5px 5px 15px #000;
}
.img-link {
  display: block;
  width: 100%;
}
.img {
  width: 100%;
}

.tittle {
  color: #00506c;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  line-height: 1.3;
  text-decoration: none;
  height: 40px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.hp-title {
  margin: 30px 0 10px 0;
  padding-left: 12px !important;
}
.hp-title .title-inline .style-link-home .name-tour {
  font-size: 30px;
  color: #00506c;
  text-decoration: none;
  display: block;
  text-transform: capitalize;
}
.rulers {
    width: 135px;
    border-bottom: 3px solid #ff9933;
    margin-bottom: 15px;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}