
body,html {
    width: 100%;
    height: 100%;
    
}
.navbar-collapse {
    flex-grow: 0;
}
.navbar{
    background-color: #103c7a;
}

.carousel-caption {
    position: absolute;
    top: 40%;
}

h1 {
    /* text-shadow: 5px 5px 15px #000; */
}

.img-link {
    display: block;
    width: 100%;
}
.img {
    width: 100%;
}

.tittle {
    color: #00506c;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    line-height: 1.3;
    text-decoration: none;
    height: 40px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden; 
}

/* info tour */
.tourTitle {
    font-size: 28px;
    line-height: 40px;
    font-weight: 700;
}
.tourShare {
    display: flex;
}
.rating-star {
    color: yellow;
    font-size: 1px;
}
.rating-tour {
    font-size: 6px;
}
.box1 {
    border: solid 1px rgba(0,0,0,.15);
    padding: 15px;
    margin-bottom: 25px;
}
.name {
    font-size: 20px;
    line-height: 24px;
    color: #1e30da;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: solid 1px rgba(0,0,0,.15);
}
ul {
    list-style: none;
    padding-left: 0;
}
.attr ul li {
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: inline-table;
    width: 100%;
    border-bottom: solid 1px rgba(0,0,0,.15);
}
.attr .at {
    width: 100px;
    float: left;
    font-weight: 700;
    font-size: 16px;
}
.box2 {
    background-color: rgb(52, 52, 179);
    color: #fff;
}
.price {
    display: flex;
    align-items: center;
    padding: 10px;
}
.bot {
    margin: 10px;
}
.txt {
    font-weight: 700;
    margin-right: 5px;
}
.pri {
    font-size: 20px;
    line-height: 33px;
    font-weight: 700;
    margin-right: 5px;
}
.btn-order-tour {
    width: 100%;
    height: 40px;
    background: #a2e1e6;
    color: rgb(191, 1, 248);
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    border-radius: 5px;
    margin:10px 0;
}
.btn-order-tour:hover {
    background-color: #fff;
}

/* Form Login */
.bg-login {
    background: url(../img/bg-login.jpg) no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap{
    width: 460px;
    background-color:#fff ;
    border-radius: 4px;
    margin-top: 150px;
}
.title {
    font-size: 30px;
    color: #555;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 20px;
}
.form {
    margin: 50px 50px;
}
.input {
    display: block;
    width: 100%;
    background: transparent;
    font-size: 15px;
    color: #666666;
    line-height: 1.2;
    border: 1px solid #e6e6e6;
    outline: none;
    height: 68px;
    padding: 0 25px 0 25px;
}
.border-top {
    border-top: none ;
}
.btn-log {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 60px;
    background-color: #4272d7;
    font-size: 14px;
    color: #fff;
    line-height: 1.2;
    transition: all 0.4s;
    border-radius: none;
    margin-top: 20px;
}
.text {
    font-size: 15px;
    line-height: 1.4;
    color: #999;
    text-align: center;
}
.text-link {
    text-decoration: none;
}
